In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline

In [2]:
data = pd.read_csv(r'C:\Users\Aarushi pc\Desktop\python\datasets\Projects\Interview attendence pred\Interview.csv')

In [3]:
data.head()

,Date of Interview,Client name,Industry,Location,Position to be closed,Nature of Skillset,Interview Type,Name(Cand ID),Gender,Candidate Current Location,...,Are you clear with the venue details and the landmark.,Has the call letter been shared,Expected Attendance,Observed Attendance,Marital Status,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 1,Male,Chennai,...,Yes,Yes,Yes,No,Single,NaN,NaN,NaN,NaN,NaN
1,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 2,Male,Chennai,...,Yes,Yes,Yes,No,Single,NaN,NaN,NaN,NaN,NaN
2,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 3,Male,Chennai,...,NaN,NaN,Uncertain,No,Single,NaN,NaN,NaN,NaN,NaN
3,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 4,Male,Chennai,...,Yes,Yes,Uncertain,No,Single,NaN,NaN,NaN,NaN,NaN
4,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 5,Male,Chennai,...,Yes,Yes,Uncertain,No,Married,NaN,NaN,NaN,NaN,NaN

In [4]:
data.columns

Index(['Date of Interview', 'Client name', 'Industry', 'Location',
       'Position to be closed', 'Nature of Skillset', 'Interview Type',
       'Name(Cand ID)', 'Gender', 'Candidate Current Location',
       'Candidate Job Location', 'Interview Venue',
       'Candidate Native location',
       'Have you obtained the necessary permission to start at the required time',
       'Hope there will be no unscheduled meetings',
       'Can I Call you three hours before the interview and follow up on your attendance for the interview',
       'Can I have an alternative number/ desk number. I assure you that I will not trouble you too much',
       'Have you taken a printout of your updated resume. Have you read the JD and understood the same',
       'Are you clear with the venue details and the landmark.',
       'Has the call letter been shared', 'Expected Attendance',
       'Observed Attendance', 'Marital Status', 'Unnamed: 23', 'Unnamed: 24',
       'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27'],
      dtype='object')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1234 entries, 0 to 1233
Data columns (total 28 columns):
Date of Interview                                                                                     1233 non-null object
Client name                                                                                           1234 non-null object
Industry                                                                                              1233 non-null object
Location                                                                                              1233 non-null object
Position to be closed                                                                                 1233 non-null object
Nature of Skillset                                                                                    1233 non-null object
Interview Type                                                                                        1233 non-null object
Name(Cand ID)                                                                                         1233 non-null object
Gender                                                                                                1233 non-null object
Candidate Current Location                                                                            1233 non-null object
Candidate Job Location                                                                                1233 non-null object
Interview Venue                                                                                       1233 non-null object
Candidate Native location                                                                             1233 non-null object
Have you obtained the necessary permission to start at the required time                              1029 non-null object
Hope there will be no unscheduled meetings                                                            986 non-null object
Can I Call you three hours before the interview and follow up on your attendance for the interview    986 non-null object
Can I have an alternative number/ desk number. I assure you that I will not trouble you too much      986 non-null object
Have you taken a printout of your updated resume. Have you read the JD and understood the same        985 non-null object
Are you clear with the venue details and the landmark.                                                985 non-null object
Has the call letter been shared                                                                       988 non-null object
Expected Attendance                                                                                   1228 non-null object
Observed Attendance                                                                                   1233 non-null object
Marital Status                                                                                        1233 non-null object
Unnamed: 23                                                                                           0 non-null float64
Unnamed: 24                                                                                           0 non-null float64
Unnamed: 25                                                                                           0 non-null float64
Unnamed: 26                                                                                           0 non-null float64
Unnamed: 27                                                                                           0 non-null float64
dtypes: float64(5), object(23)
memory usage: 270.0+ KB

In [6]:
data.drop(columns=['Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 26','Unnamed: 27','Date of Interview',
                   'Can I Call you three hours before the interview and follow up on your attendance for the interview',
                  'Can I have an alternative number/ desk number. I assure you that I will not trouble you too much',
                  'Has the call letter been shared','Name(Cand ID)'],inplace=True)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1234 entries, 0 to 1233
Data columns (total 18 columns):
Client name                                                                                       1234 non-null object
Industry                                                                                          1233 non-null object
Location                                                                                          1233 non-null object
Position to be closed                                                                             1233 non-null object
Nature of Skillset                                                                                1233 non-null object
Interview Type                                                                                    1233 non-null object
Gender                                                                                            1233 non-null object
Candidate Current Location                                                                        1233 non-null object
Candidate Job Location                                                                            1233 non-null object
Interview Venue                                                                                   1233 non-null object
Candidate Native location                                                                         1233 non-null object
Have you obtained the necessary permission to start at the required time                          1029 non-null object
Hope there will be no unscheduled meetings                                                        986 non-null object
Have you taken a printout of your updated resume. Have you read the JD and understood the same    985 non-null object
Are you clear with the venue details and the landmark.                                            985 non-null object
Expected Attendance                                                                               1228 non-null object
Observed Attendance                                                                               1233 non-null object
Marital Status                                                                                    1233 non-null object
dtypes: object(18)
memory usage: 173.6+ KB

In [8]:
data['Industry'].unique()

array(['Pharmaceuticals', 'IT Services', 'BFSI',
       'IT Products and Services', 'Electronics', 'Telecom', 'IT', nan],
      dtype=object)

In [9]:
data['Client name'].unique()

array(['Hospira', 'Aon Hewitt', 'UST', 'Standard Chartered Bank', 'ANZ',
       'Pfizer', 'Standard Chartered Bank Chennai', 'Aon hewitt Gurgaon',
       'Astrazeneca', 'Flextronics', 'Prodapt', 'Williams Lea',
       'Barclays', 'Hewitt', 'Woori Bank', '\ufeff\ufeff'], dtype=object)

In [10]:
data['Client name'].replace(['Aon Hewitt','Aon hewitt Gurgaon'], 'Hewitt',inplace=True)
data['Client name'].replace(['Standard Chartered Bank Chennai'], 'Standard Chartered Bank',inplace=True)
data['Client name'].unique()

array(['Hospira', 'Hewitt', 'UST', 'Standard Chartered Bank', 'ANZ',
       'Pfizer', 'Astrazeneca', 'Flextronics', 'Prodapt', 'Williams Lea',
       'Barclays', 'Woori Bank', '\ufeff\ufeff'], dtype=object)

In [11]:
data['Location'].unique()

array(['Chennai', 'Gurgaon', 'Bangalore', 'Hyderabad', 'Gurgaonr',
       'Delhi', 'chennai', '- Cochin- ', 'Noida', 'CHENNAI', 'chennai ',
       nan], dtype=object)

In [12]:
data['Location'].replace(['chennai','CHENNAI','chennai '], 'Chennai',inplace=True)
data['Location'].replace(['Gurgaonr','Gurgaon','Noida','Delhi /NCR'],'Delhi' ,inplace=True)
data['Location'].replace(['- Cochin- '],'Cochin' ,inplace=True)
data['Location'].unique()

array(['Chennai', 'Delhi', 'Bangalore', 'Hyderabad', 'Cochin', nan],
      dtype=object)

In [13]:
data['Position to be closed'].unique()

array(['Production- Sterile', 'Selenium testing', 'Dot Net', 'AML',
       'Trade Finance', 'Routine', 'Niche', nan], dtype=object)

In [14]:
data['Nature of Skillset'].unique()

array(['Routine', 'Oracle', 'Accounting Operations', 'Banking Operations',
       'Fresher', 'AML/KYC/CDD', 'CDD KYC', 'Biosimiliars', 'RA Label',
       'RA Publishing', 'EMEA', 'LCM -Manager', 'Licensing – RA',
       'generic drugs – RA', 'Biosimilars', 'Regulatory',
       'Analytical R & D', 'Analytical R&D',
       'Senior software engineer-Mednet', 'Tech lead-Mednet',
       'Tech Lead- Mednet', 'Technical Lead', 'Sr Automation Testing',
       'TL', 'Senior Analyst', 'production', 'Production', 'Core Java',
       'Java J2EE', 'Oracle Plsql', 'Java,SQL', 'Automation Testing Java',
       'Submission Management', 'Biosimillar', 'Publishing',
       'Global Labelling', 'ALS Testing', 'Java Developer',
       'Lending and Liabilities', 'Lending & Liability',
       'Lending And Liabilities', 'L & L', 'Banking operations',
       'Lending&Liablities', 'JAVA/J2EE/Struts/Hibernate',
       'JAVA/SPRING/HIBERNATE/JSF', 'Java', 'Java JSF', 'Java,J2ee, JSF',
       'Java ,J2ee', 'Java J2ee', '11.30 AM', '10.00 AM', '9.00 Am',
       '12.30 Pm', '9.30 AM', '11.30 Am', 'Java, J2Ee', 'Java,J2EE',
       'Java/J2ee/Core Java', 'Java/J2ee', 'JAVA, J2ee', 'JAVA,J2ee',
       'T-24 developer', 'COTS Developer', 'Product Control', 'Dot Net',
       'COTS', 'testing', '- SAPBO, Informatica', 'ETL', 'Java-SAS',
       'Java Tech Lead', 'Manager', 'JAVA,SQL', 'Java, SQL', 'Hadoop',
       'SCCM', 'SCCM-(Network, sharepoint,ms exchange)',
       'SCCm- Desktop support', 'Sccm- networking', 'sccm', 'SCCM – SQL',
       'SCCM – Sharepoint', 'Production Support - SCCM', 'SAS',
       'BaseSAS Program/ Reporting', 'Java, Spring, Hibernate',
       'Java,spring,hibernate', 'Java, XML, Struts, hibernate',
       'JAVA/J2EE', 'Java ', nan], dtype=object)

In [15]:
data['Interview Type'].unique()

array(['Scheduled Walkin', 'Scheduled ', 'Walkin', 'Scheduled Walk In',
       'Sceduled walkin', 'Walkin ', nan], dtype=object)

In [16]:
data['Interview Type'].replace(['Sceduled walkin','Scheduled Walk In'],'Scheduled Walkin',inplace=True)
data['Interview Type'].replace(['Walkin '],'Walkin',inplace=True)
data['Interview Type'].replace(['Scheduled '],'Scheduled',inplace=True)

In [17]:
data['Interview Type'].unique()

array(['Scheduled Walkin', 'Scheduled', 'Walkin', nan], dtype=object)

In [18]:
data['Candidate Job Location'].unique()

array(['Hosur', 'Bangalore', 'Chennai', 'Gurgaon', 'Visakapatinam',
       '- Cochin- ', 'Noida', nan], dtype=object)

In [19]:
data['Have you obtained the necessary permission to start at the required time'].unique()

array(['Yes', nan, 'No', 'Not yet', 'Yet to confirm', 'NO', 'yes', 'Na'],
      dtype=object)

In [20]:
data['Have you obtained the necessary permission to start at the required time'].replace(['Not yet','NO'],'No',inplace=True)
data['Have you obtained the necessary permission to start at the required time'].replace(['Yet to confirm','Na'],'nan',inplace=True)
data['Have you obtained the necessary permission to start at the required time'].replace(['yes'],'Yes',inplace=True)

In [21]:
data['Have you obtained the necessary permission to start at the required time'].unique()

array(['Yes', nan, 'No', 'nan'], dtype=object)

In [22]:
data['Are you clear with the venue details and the landmark.'].unique()

array(['Yes', nan, 'No', 'No- I need to check', 'na', 'yes', 'Na', 'no'],
      dtype=object)

In [23]:
data['Are you clear with the venue details and the landmark.'].replace(['No- I need to check','NO','no'],'No',inplace=True)
data['Are you clear with the venue details and the landmark.'].replace(['Na','na'],'NAN',inplace=True)
data['Are you clear with the venue details and the landmark.'].replace(['yes'],'Yes',inplace=True)

In [24]:
data['Are you clear with the venue details and the landmark.'].unique()

array(['Yes', nan, 'No', 'NAN'], dtype=object)

In [25]:
data['Hope there will be no unscheduled meetings'].unique()

array(['Yes', 'Na', 'No', nan, 'yes', 'Not Sure', 'cant Say', 'Not sure'],
      dtype=object)

In [26]:
data['Hope there will be no unscheduled meetings'].replace(['Na'],'No',inplace=True)
data['Hope there will be no unscheduled meetings'].replace(['yes'],'Yes',inplace=True)
data['Hope there will be no unscheduled meetings'].replace(['Not Sure','cant Say','Not sure'],'not-sure',inplace=True)
data['Hope there will be no unscheduled meetings'].unique()

array(['Yes', 'No', nan, 'not-sure'], dtype=object)

In [27]:
data['Hope there will be no unscheduled meetings'].value_counts()

Yes         954
No           26
not-sure      6
Name: Hope there will be no unscheduled meetings, dtype: int64

In [28]:

data['Have you taken a printout of your updated resume. Have you read the JD and understood the same'].unique()

array(['Yes', nan, 'No', 'No- will take it soon', 'Not yet', 'na', 'yes',
       'Na', 'Not Yet'], dtype=object)

In [29]:
data['Have you taken a printout of your updated resume. Have you read the JD and understood the same'].replace(['No- will take it soon','Not yet','Not Yet'],'No',inplace=True)
data['Have you taken a printout of your updated resume. Have you read the JD and understood the same'].replace(['yes'],'Yes',inplace=True)
data['Have you taken a printout of your updated resume. Have you read the JD and understood the same'].unique()

array(['Yes', nan, 'No', 'na', 'Na'], dtype=object)

In [30]:
data['Interview Venue'].unique()

array(['Hosur', 'Gurgaon', 'Bangalore', 'Chennai', 'Hyderabad',
       '- Cochin- ', 'Noida', nan], dtype=object)

In [31]:
data['Expected Attendance'].unique()

array(['Yes', 'Uncertain', 'No', 'NO', 'yes', nan, '11:00 AM', '10.30 Am'],
      dtype=object)

In [32]:
data['Expected Attendance'].replace(['NO'],'No',inplace=True)
data['Expected Attendance'].replace(['Na','na',],'na',inplace=True)
data['Expected Attendance'].replace(['yes','11:00 AM','10.30 Am'],'Yes',inplace=True)

In [33]:
data['Expected Attendance'].unique()

array(['Yes', 'Uncertain', 'No', nan], dtype=object)

In [34]:
data['Expected Attendance'].value_counts()

Yes          885
Uncertain    250
No            93
Name: Expected Attendance, dtype: int64

In [35]:
data['Observed Attendance'].unique()

array(['No', 'Yes', 'yes', 'no', 'yes ', 'No ', 'NO', 'no ', nan],
      dtype=object)

In [36]:
data['Observed Attendance'].replace(['NO','no ','No ','no'],'No',inplace=True)
data['Observed Attendance'].replace(['yes ','yes'],'Yes',inplace=True)
data['Observed Attendance'].unique()

array(['No', 'Yes', nan], dtype=object)

In [37]:
data['Observed Attendance'].value_counts()

Yes    783
No     450
Name: Observed Attendance, dtype: int64

# handling missing values

In [38]:
data.dropna(axis=0, how='any',inplace=True)
target = data['Observed Attendance']
ndata = data.drop('Observed Attendance',axis=1)

In [39]:
ndata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 984 entries, 0 to 1231
Data columns (total 17 columns):
Client name                                                                                       984 non-null object
Industry                                                                                          984 non-null object
Location                                                                                          984 non-null object
Position to be closed                                                                             984 non-null object
Nature of Skillset                                                                                984 non-null object
Interview Type                                                                                    984 non-null object
Gender                                                                                            984 non-null object
Candidate Current Location                                                                        984 non-null object
Candidate Job Location                                                                            984 non-null object
Interview Venue                                                                                   984 non-null object
Candidate Native location                                                                         984 non-null object
Have you obtained the necessary permission to start at the required time                          984 non-null object
Hope there will be no unscheduled meetings                                                        984 non-null object
Have you taken a printout of your updated resume. Have you read the JD and understood the same    984 non-null object
Are you clear with the venue details and the landmark.                                            984 non-null object
Expected Attendance                                                                               984 non-null object
Marital Status                                                                                    984 non-null object
dtypes: object(17)
memory usage: 138.4+ KB

In [40]:
target

0        No
1        No
3        No
4        No
5       Yes
6       Yes
7       Yes
8       Yes
9        No
10      Yes
11       No
12      Yes
13      Yes
14      Yes
15      Yes
16      Yes
17       No
18      Yes
19       No
20       No
21      Yes
22      Yes
23      Yes
24       No
25       No
26       No
27       No
28      Yes
29      Yes
30      Yes
       ...
1202     No
1203    Yes
1204    Yes
1205    Yes
1206    Yes
1207     No
1208    Yes
1209    Yes
1210    Yes
1211    Yes
1212     No
1213     No
1214    Yes
1215    Yes
1216     No
1217    Yes
1218    Yes
1219    Yes
1220    Yes
1221    Yes
1222    Yes
1223    Yes
1224    Yes
1225    Yes
1226    Yes
1227    Yes
1228    Yes
1229    Yes
1230    Yes
1231    Yes
Name: Observed Attendance, Length: 984, dtype: object

In [41]:

from sklearn.preprocessing import LabelEncoder

In [42]:
ndata.columns

Index(['Client name', 'Industry', 'Location', 'Position to be closed',
       'Nature of Skillset', 'Interview Type', 'Gender',
       'Candidate Current Location', 'Candidate Job Location',
       'Interview Venue', 'Candidate Native location',
       'Have you obtained the necessary permission to start at the required time',
       'Hope there will be no unscheduled meetings',
       'Have you taken a printout of your updated resume. Have you read the JD and understood the same',
       'Are you clear with the venue details and the landmark.',
       'Expected Attendance', 'Marital Status'],
      dtype='object')

In [43]:
ndata['Industry'] = LabelEncoder().fit_transform(ndata['Industry']) 
ndata['Client name'] = LabelEncoder().fit_transform(ndata['Client name'])
ndata['Location'] = LabelEncoder().fit_transform(ndata['Location'])
ndata['Position to be closed'] = LabelEncoder().fit_transform(ndata['Position to be closed'])
ndata['Nature of Skillset'] = LabelEncoder().fit_transform(ndata['Nature of Skillset'])
ndata['Candidate Current Location'] = LabelEncoder().fit_transform(ndata['Candidate Current Location'])
ndata['Candidate Native location'] = LabelEncoder().fit_transform(ndata['Candidate Native location'])
ndata['Interview Venue'] = LabelEncoder().fit_transform(ndata['Interview Venue'])

# changing categorical to numerical data

In [44]:
df = pd.get_dummies(ndata,drop_first=True,columns=[  'Interview Type', 'Gender',
       'Candidate Job Location',
       'Have you obtained the necessary permission to start at the required time',
       'Hope there will be no unscheduled meetings',
       'Have you taken a printout of your updated resume. Have you read the JD and understood the same',
       'Are you clear with the venue details and the landmark.',
       'Expected Attendance', 'Marital Status'])
targ = pd.get_dummies(target)

In [45]:
df.head()

,Client name,Industry,Location,Position to be closed,Nature of Skillset,Candidate Current Location,Interview Venue,Candidate Native location,Interview Type_Scheduled Walkin,Interview Type_Walkin,...,Have you obtained the necessary permission to start at the required time_nan,Hope there will be no unscheduled meetings_Yes,Hope there will be no unscheduled meetings_not-sure,Have you taken a printout of your updated resume. Have you read the JD and understood the same_No,Have you taken a printout of your updated resume. Have you read the JD and understood the same_Yes,Are you clear with the venue details and the landmark._No,Are you clear with the venue details and the landmark._Yes,Expected Attendance_Uncertain,Expected Attendance_Yes,Marital Status_Single
0,5,5,1,3,63,3,4,17,1,0,...,0,1,0,0,1,0,1,0,1,1
1,5,5,1,3,63,3,4,33,1,0,...,0,1,0,0,1,0,1,0,1,1
3,5,5,1,3,63,3,4,8,1,0,...,0,1,0,1,0,0,1,1,0,1
4,5,5,1,3,63,3,4,8,1,0,...,0,1,0,0,1,0,1,1,0,0
5,4,4,3,5,63,5,3,15,1,0,...,0,1,0,0,1,0,1,0,1,1

In [46]:
targ

      No  Yes
0      1    0
1      1    0
3      1    0
4      1    0
5      0    1
6      0    1
7      0    1
8      0    1
9      1    0
10     0    1
11     1    0
12     0    1
13     0    1
14     0    1
15     0    1
16     0    1
17     1    0
18     0    1
19     1    0
20     1    0
21     0    1
22     0    1
23     0    1
24     1    0
25     1    0
26     1    0
27     1    0
28     0    1
29     0    1
30     0    1
...   ..  ...
1202   1    0
1203   0    1
1204   0    1
1205   0    1
1206   0    1
1207   1    0
1208   0    1
1209   0    1
1210   0    1
1211   0    1
1212   1    0
1213   1    0
1214   0    1
1215   0    1
1216   1    0
1217   0    1
1218   0    1
1219   0    1
1220   0    1
1221   0    1
1222   0    1
1223   0    1
1224   0    1
1225   0    1
1226   0    1
1227   0    1
1228   0    1
1229   0    1
1230   0    1
1231   0    1

[984 rows x 2 columns]

# train test split

In [47]:
from sklearn.model_selection import train_test_split

In [48]:
X_train, X_test, y_train, y_test = train_test_split(df, targ, test_size=0.33, random_state=42)

# applying decision tree

In [49]:
from sklearn.tree import DecisionTreeClassifier

In [50]:
dtree = DecisionTreeClassifier(criterion='entropy',max_depth=5)

In [51]:
dtree.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=5,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [52]:
predictions = dtree.predict(X_test)

In [53]:
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score

In [54]:
print(classification_report(y_test,predictions))

             precision    recall  f1-score   support

          0       0.83      0.28      0.42       106
          1       0.74      0.97      0.84       219

avg / total       0.77      0.75      0.70       325

In [61]:
print(confusion_matrix(y_test['Yes'],predictions))

ValueError: Classification metrics can't handle a mix of binary and multilabel-indicator targets

In [57]:
type(y_test)

pandas.core.frame.DataFrame

In [62]:
y_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 325 entries, 818 to 717
Data columns (total 2 columns):
No     325 non-null uint8
Yes    325 non-null uint8
dtypes: uint8(2)
memory usage: 3.2 KB

In [ ]:
print ("Accuracy Score:","\n", accuracy_score(y_test,predictions),"\n")